.intro {
  padding-left: 10px;
  margin: 12px;
  font-weight: bold;
  font-style: oblique;
  text-align: center;
}

h2.intro {
  padding-bottom: 20px;
}

.container1 {
  padding-left: 10px;
  margin: 12px;
}

.img-responsive {
    margin: 0 auto;
}

.places {
  font-weight: bold;
  color: red;
}

.floats {
  float: right;
}
